.header__burger {
    display: none;
}


@media screen and (max-width: 768px) {
    .header__burger {
        display: block;
        background-color: #E3F5F5;
        color: #03B2A5;
        
    }
}