@import url("fonts/font.css");


* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    margin: 0 auto;
    width: 1440px;
}


body {
    font-family: Montserrat, sans-serif;
}



.layout {
    display: grid;
    background: #FFFFFF;
    grid-template-columns: minmax(16px, auto) minmax(288px, 1200px) minmax(16px, auto);
    grid-template-rows: auto 1px 1fr auto;
    grid-template-areas: 
    ". header ."
    "header__line header__line header__line"
    ". content ."
    "footer footer .";
}